<div class="post-topbar">
    <div class="user-picy">

    </div>
    <div class="post-st">





    </div>

    <h1>Proposer une idée</h1>
    <!--post-st end-->
</div>
<div class="post-project">

    <div class="post-project-fields">
        <form novalidate [formGroup]="addForm">
            <div class="row">
                <div class="col-lg-12">
                    <input type="text" name="titre" placeholder="Titre">
                </div>


                <div class="col-lg-12">

                    <quill-editor name="body" formControlName="body" placeholder="C'est quoi votre idée ?" [modules]="modules" [styles]="{height: '200px'}"></quill-editor>



                </div>
                <div class="col-lg-12">

                    <div class="uploadfilecontainer drag" (click)="fileInput.click()" appUpload (onFileDropped)="uploadFile($event)">
                        <i class="la la-cloud-upload size-lg"></i>
                        <span>Ajouter un fichier audio ou une image ou bien un video</span>
                        <input hidden accept="image/x-png,image/gif,image/jpeg" type="file" #fileInput (change)="uploadFile($event.target.files)">

                    </div>



                    <div class="post-topbar mt-2 row p-2" *ngFor="let file of files;let i= index">
                        <div class="col-lg-11"> <i class="la la-file size-xs"></i><span>{{ file }} </span></div>
                        <div class="col-lg-1">
                            <a class="delete-file" (click)="deleteAttachment(i)">
                                <i class="la la-trash size-xs"></i>
                            </a>
                        </div>






                        <!--post-st end-->
                    </div>




                </div>




            </div>






        </form>
    </div>

</div>

<div class="post-topbar">
    <div class="user-picy">

    </div>
    <div class="post-st">
        <ul>

            <li>
                <a (click)="onSubmit()" class="post_project" title="">
                    <i class="lni-pencil-alt"></i>Envoyer votre idées </a>
            </li>


            <li><a class="post-jb  " title="">Annuler</a></li>
        </ul>



    </div>


    <!--post-st end-->
</div>