.user-account{
    position: relative;
}
.user-info{
    width: 100%;
    padding: 13px 10px;
    position: relative;
}
 
nav {
    float: left;
    width: 63%;
    text-align: right;
    padding-right: 13px;
}

.logo-community {
    float: left;
    width: 140px;
    margin-right: 0px;
    margin-top: 0px;
}

.digi-header {
    position: fixed;
    margin-bottom: 50px;
    z-index: 5000;
    background: white;
    border: none;
    padding-top: 5px;
    box-shadow: 0px 4px 10px #0000002b;
    border-bottom: 2px solid var(--digitalin-primary-color);
}

li{
    transition: ease-in;
    animation: color .6 ;
}

a{

    color: var(--digitalin-primary-color);
}

a:hover{

    color: var(--digitalin-primary-color);
}


@media (max-width: 1200px){
      .collapse-btn{
          display:none;
      }

    header nav {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        padding: 25px 20px;
        opacity: 1;
        display: block;
    
        z-index: 50000;
    }


    header .digi-header{
        position: relative;
 
    }

    .nav-collapse-btn{
        display: flex;
    }


    .user-info {
        width: 100%;
        padding: 13px 10px;
        position: relative;
        position: fixed;
        left: 2px;
        top: 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .user-account-settingss {
        position: relative;
        opacity: 1;
        z-index: 999;
        width: 100%;
        background-color: #fff;
        border-left: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-radius: 0 0 5px 5px;
        box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.24);
    }
    
    
    



}


@media only screen and (max-width: 600px) {
    
    header nav {
        visibility:visible;
        display: none;
        z-index: 50000;
    }
    
    .collapsed {
          display: block;  
    }

  .collapse-btn{
      display:block;
  }
  
}
