<div class="user-data full-width">
    <div class="user-profile">
        <div class="username-dt">
            <div class="usr-pic">
                <img src="{{ user['photoProfile'] }}" alt="">
            </div>
        </div>
        <!--username-dt end-->
        <div class="user-specs">
            <h3>{{ user['nom'] }} {{ user['prenom'] }}</h3>
            <span>{{ user['entitee'] }}</span>
        </div>
    </div>
    <!--user-profile end-->
    <ul class="user-fw-status">
        <li>
            <i class="la la-lightbulb-o size-xs"></i>
            <h5>Idées</h5>
            <h4>{{ user['userDto']['nbrIdee'] }}</h4>
        </li>
        <li>
            <i class="la la-files-o size-xs"></i>
            <h5>Articles</h5>
            <h4>{{ user['userDto']['nbrArticle'] }}</h4>
        </li>
        <li>
            <i class="la la-question-circle size-xs"></i>
            <h5>Questions</h5>
            <h4>{{ user['userDto']['nbrQuestion'] }}</h4>
        </li>
        <li>
            <i class="la la-area-chart size-xs"></i>
            <h5>Enquêtes</h5>
            <h4>{{ user['userDto']['nbrEnquete'] }}</h4>
        </li>
        <li>

            <a title="">Mon profile</a>

        </li>
    </ul>
</div>