<main class="digi-main">
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <app-side-bar-profile>
                        </app-side-bar-profile>
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">

                            <app-group-add-btn></app-group-add-btn>

                            <router-outlet></router-outlet>


                        </div>
                    </div>
                    <div class="col-lg-3 pd-right-none no-pd">
                        <app-side-right-bar-profile></app-side-right-bar-profile>
                    </div>
                </div>
            </div>
            <!-- main-section-data end-->
        </div>
    </div>
</main>