<div class="post-topbar p-0 m-0"> 

    <div class="privacy security">
        <div class="row">
            <div class="col-12 ">
                <h3>{{ question.question }}</h3>
                <hr>

                <div class="form-group closed" *ngIf="question.respones?.length==0">
                    <input type="text" class="form-control" id="" placeholder="Votre Réponse">
                </div>

                <div class="checkbox" *ngIf="question.respones?.length>0">
                    <div class="form-check">
                        <div class="custom-control custom-radio" *ngFor="let item of question.respones ">
                            <input type="radio" id="response-{{ question.questionId }} " name="customRadio"
                                class="custom-control-input">
                            <label class="custom-control-label" for="response-{{ question.responseId }}">
                                {{ item.response }} </label>
                        </div>
                    </div>

                </div>

                <hr>
            </div>
        </div>

    </div>



</div>