<div class="posts-section ">
    <div class="posty   mb-3" *ngFor="let item of sondages ">
        <div class="post-bar  no-margin">
            <div class="post_topbar" style="display: block;">


            </div>
            <div class="epi-sec">
                <ul class="descp">

                </ul>
                <ul class="bk-links">

                </ul>
            </div>
            <div class="job_descp">
                <h3> <i class="la la-question-circle size-xs"></i> {{item['title']}}</h3>
                <span class="timing"> <i class="la la-calendar"></i>  {{item['datePublication'] }} -  {{ item['datePublication'] | timeAgo }}</span>


                <div class="row mb-4 ">
                    <p [innerHtml]="item.description"></p>
                </div>





                <div class="col-md-12 mb-2 ml-2 no-pd pd-left-none no-pd">



                </div>

                <div class="post-st">
                    <ul>


                        <li>

                        </li>

                        <li>
                            <a [routerLink]="['/mon-espace/enquetes', item['id'],'detail']" routerLinkActive="router-link-active" class="post_project" title="">
                                <i class="la la-play-circle-o "></i>Participer</a>
                        </li>

                    </ul>



                </div>





            </div>










        </div>

    </div>
</div>