<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting">
        <h3> <i class="la la-area-chart"></i>Enquêtes</h3>

        <button class="btn float-right m-2">     
            <i [routerLink]="['/administration/enquetes']" routerLinkActive="router-link-active" class="la la-reply-all"> </i>

        </button>
    </div>

</div>

<div class="tab-pane fade show active">
    <div class="acc-setting mt-3">
        <form>
            <div class="cp-field">
                <h5>Sujet de l'enquête</h5>
                <div class="cpp-fiel">
                    <input type="text" name="titre" placeholder="Sujet de l'enquête">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>

            <div class="cp-field">
                <h5>Description de l'enquête</h5>
                <div class="cpp-fiel">
                    <textarea type="text" name="description" placeholder="Description de l'enquête"> </textarea>

                </div>
            </div>






        </form>

    </div>

</div>