<div class="post-topbar">
    <div class="user-picy">

    </div>
    <div class="post-st">





    </div>

    <h1>Envoyer une question</h1>
    <!--post-st end-->
</div>


<div class="post-project">

    <div class="post-project-fields">
        <form [formGroup]="addForm">
            <div class="row">
                <div class="col-lg-12">
                    <textarea type="text" formControlName="description" name="description" placeholder="Quelle est votre question"></textarea>
                </div>





            </div>
        </form>
    </div>

</div>

<div class="post-topbar">
    <div class="user-picy">

    </div>
    <div class="post-st">
        <ul>

            <li>
                <a (click)="onSubmit()" class="post_project" title="">
                    <i class="lni-pencil-alt"></i>Envoyer votre question </a>
            </li>


            <li><a class="post-jb" title="">Annuler</a></li>

        </ul>



    </div>


    <!--post-st end-->
</div>