<div class="post-topbar">
    <div class="user-picy">

    </div>
    <div class="post-st">





    </div>

    <h1>Rédiger un nouvelle article</h1>
    <!--post-st end-->
</div>


<div class="post-project">

    <div class="post-project-fields">
        <form [formGroup]="addForm">
            <div class="row">
                <div class="col-lg-12">
                    <input type="text" formControlName="article" name="article" placeholder="Titre">
                </div>


                <div class="col-lg-12">

                    <quill-editor [modules]="modules" formControlName="description" name="body" placeholder="De quoi souhaitez-vous parler ?" [styles]="{height: '200px'}"></quill-editor>





                </div>


            </div>
        </form>
    </div>

</div>
<div class="post-topbar">
    <div class="user-picy">

    </div>
    <div class="post-st">
        <ul>

            <li>
                <a (click)="onSubmit()" class="post_project" title="">
                    <i class="lni-pencil-alt"></i>Envoyer votre article </a>
            </li>


            <li><a class="post-jb  " title="">Annuler</a></li>
        </ul>



    </div>


    <!--post-st end-->
</div>