<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting ">

        <h3> <i class="la la-area-chart"></i>Enquêtes</h3>

        <button [routerLink]="['/administration/enquetes/nouveau']" routerLinkActive="router-link-active" class="btn float-right m-2">     
            <i class="la la-plus"> </i>

        </button>

    </div>




</div>

<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting mt-3">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sujet d'enquête</th>
                    <th scope="col">Date d'enquête</th>

                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sondage of sondages">
                    <td>{{sondage.titre}}</td>
                    <td>{{sondage.titre}}</td>

                    <td>
                        <button class="btn">
                             <i class="la la-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>