<main class="digi-main">
    <div class="main-section">

        <div class="container">
            <div class="account-tabs-setting">
                <div class="row">
                    <div class="col-lg-3">
                        <app-admin-side-bar></app-admin-side-bar>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content" id="nav-tabContent">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
            <!--account-tabs-setting end-->
        </div>

    </div>
</main>