<div class="sign-in-page">
    <div class="signin-popup">
        <div class="signin-pop">

            <div class="col-lg-12">
                <div class="cmp-info bg-white text-center">
                    <div class="cm-logo" style="padding-left: 40%;">
                        <img src="assets/images/company-logo-1" alt="" class="rounded mx-auto d-block">
                    </div>
                    <h1>Veuillez confirmer votre inscription</h1>

                    <div class="col-lg-12 no-pdd">
                        <button (click)="onSubmit()" class="btn-wafa">Cliquez ici pour confirmer votre inscription</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>