<div class="widget suggestions full-width">
    <div class="sd-title">
        <h3>Collaborateurs</h3>
        <i class="la la-ellipsis-v"></i>
    </div>
    <!--sd-title end-->
    <div class="suggestions-list">
        <div class="suggestion-usd" *ngFor="let item of users">
            <img src="{{ item['profilePicture'] }}" alt="">
            <div class="sgt-text">
                <h4>{{ item['name'] }}</h4>
                <span>{{ item['fonction'] }}</span>
            </div>
            <span><i class="la la-eye"></i></span>
        </div>

        <div class="view-more">
            <a title="">Voir Plus</a>
        </div>
    </div>
    <!--suggestions-list end-->
</div>