<div class="suggestions full-width">
    <div class="sd-title">
        <h3>Dernières enquetes</h3>
        <i class="la la-ellipsis-v"></i>
    </div>
    <!--sd-title end-->
    <div class="suggestions-list">

        <div class="suggestion-usd" *ngFor="let item of sondages">

            <div class="sgt-text col-lg-10">
                <h4>{{ item['title'] }}</h4>
                <span><i class="la la-clock-o"></i> {{item['datePublication'] | timeAgo}}</span>
                <span>{{ item['description'] | slice : 0 : 40 }} ...</span>
            </div>
            <span class="sgt-text col-lg-2"><i class="la la-plus"></i></span>
        </div>


        <div class="view-more">
            <a title="">Voir plus</a>
        </div>
    </div>
    <!--suggestions-list end-->
</div>