<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting">

        <h3> <i class="la la-users"></i>Comptes</h3>



    </div>

</div>

<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting mt-3">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Matricule</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Email</th>
                    <th scope="col">ville</th>
                    <th scope="col w-120">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts">
                    <td>{{account.matricule}}</td>
                    <td>{{account.nom}}</td>
                    <td>{{account.prenom}}</td>
                    <td>{{account.telephone}}</td>
                    <td>{{account.email}}</td>
                    <td>{{account.ville}}</td>
                    <td>
                        <button class="btn" (click)="onDelete(account.utilisateurId)">
                             <i class="la la-trash" aria-hidden="true"></i>
        </button>
                        <button class="btn" [routerLink]="['consulter', account.utilisateurId]">
                            <i class="la la-eye" aria-hidden="true"></i>
                       </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>