<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting">
        <h3>Informations article</h3>
    </div>

</div>

<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting mt-3">
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3 mb-3 font-weight-bold"> Article : </dt>
                    <dd class="col-sm-3 mb-3">{{article?.article}}</dd>
                  
                    <dt class="col-sm-3 mb-3 font-weight-bold"> Date : </dt>
                    <dd class="col-sm-3 mb-3">{{article?.dateArticle}}</dd>

                    <dt class="col-sm-3 mb-3 font-weight-bold"> Description : </dt>
                    <dd class="col-sm-9 mb-3">{{article?.description}}</dd>
                  

                  

                  </dl>
  
            </div>
          </div>

    </div>

</div>