<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting ">

        <h3> <i class="la la-users"></i>Informations Utilisateur {{account?.nom}} {{account?.prnom}}</h3>

        <button [routerLink]="['/administration/comptes']" routerLinkActive="router-link-active" class="btn float-right m-2">     
            <i class="la la-reply-all"> </i>

        </button>

    </div>

</div>

<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting mt-3">
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3 mb-3 font-weight-bold"> Matricule : </dt>
                    <dd class="col-sm-3 mb-3">{{account?.matricule}}</dd>

                    <dt class="col-sm-3 mb-3 font-weight-bold"> Nom : </dt>
                    <dd class="col-sm-3 mb-3">{{account?.nom}}</dd>

                    <dt class="col-sm-3 mb-3 font-weight-bold"> Prénom : </dt>
                    <dd class="col-sm-3 mb-3">{{account?.prenom}}</dd>

                    <dt class="col-sm-3 mb-3 font-weight-bold"> Téléphone : </dt>
                    <dd class="col-sm-3 mb-3">{{account?.telephone}}</dd>

                    <dt class="col-sm-3 mb-3 font-weight-bold"> Email : </dt>
                    <dd class="col-sm-3 mb-3">{{account?.email}}</dd>

                    <dt class="col-sm-3 mb-3 font-weight-bold"> Statut : </dt>
                    <dd class="col-sm-3 mb-3">{{account?.statut}}</dd>

                    <dt class="col-sm-3 mb-3 font-weight-bold"> Entité : </dt>
                    <dd class="col-sm-3 mb-3">{{account?.entitee}}</dd>

                    <dt class="col-sm-3 mb-3 font-weight-bold"> Ville : </dt>
                    <dd class="col-sm-3 mb-3">{{account?.ville}}</dd>

                    <dt class="col-sm-3 mb-3 font-weight-bold"> Région : </dt>
                    <dd class="col-sm-3 mb-3">{{account?.region}}</dd>

                    <dt class="col-sm-3 mb-3 font-weight-bold"> Role : </dt>
                    <dd class="col-sm-3 mb-3">{{account?.role}}</dd>
                </dl>

            </div>
        </div>

    </div>

</div>