<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting">
        <h3>List des articles</h3>
        <form>

        </form>
    </div>

</div>

<div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
    <div class="acc-setting mt-3">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Article</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col w-120">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of articles">
                    <td>{{article.article}}</td>
                    <td>{{article.description}}</td>
                    <td>{{article.dateArticle}}</td>
                    <td >
                        <button class="btn" (click)="onDelete(article.articleId)">
                             <i class="la la-trash" aria-hidden="true"></i>
                        </button>
                        <button class="btn" [routerLink]="['consulter', article.articleId]">
                            <i class="la la-eye" aria-hidden="true"></i>
                       </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>