<div class="posts-section">



    <div class="posty mb-5" *ngFor="let item of articles ">
        <div class="post-bar  no-margin">
            <div class="post_topbar" style="display: block;">
                <div class="ed-opts" *ngIf="item['utilisateurId'] == loggedUser['utilisateurId']">
                    <a class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                    <ul class="ed-options">
                        <li><a>Editer l'article</a></li>
                        <li><a>Supprimer</a></li>
                        <li><a>Hide</a></li>
                    </ul>
                </div>
                <div class="usy-dt row">


                    <div class="col-md-2 no-pd pd-left-none no-pd">

                        <!-- <img class="post-user-pric " [src]="item['user']['photoProfile']" alt=""> -->


                    </div>

                    <div class="col-md-10 no-pd pd-left-none no-pd">

                        <div class="usy-name">
                            <h3>{{ item['user']['nom']}} {{ item['user']['prenom']}}</h3>
                            <span><i class="la la-calendar"></i> {{item['dateArticle'] | timeAgo}}</span>
                        </div>

                    </div>



                </div>

            </div>
            <div class="epi-sec">
                <ul class="descp">
                    <!--  <li><img src="assets/images//icon8.png" alt=""><span>Epic Coder</span></li>
                        <li><img src="assets/images//icon9.png" alt=""><span>India</span></li>-->
                </ul>
                <ul class="bk-links">
                    <!--   <li><a title=""><i class="la la-bookmark"></i></a></li>
                        <li><a title=""><i class="la la-envelope"></i></a></li> -->
                </ul>
            </div>
            <div class="job_descp mb-3">
                <h3>{{item['title']}}</h3>

                <!-- <li><a href="#" title="">Full Time</a></li>
                    <li><span>$30 / hr</span></li> 
                    </ul> {{item['body'] | slice : 0 : item['sliceDescription'] }} 
                    <p>{{item['body'] | slice : 0 : item['sliceDescription'] }}
                        <span class="digi-style" [hidden]="(item['sliceDescription'] == item['body'].lenght)" (click)="item['sliceDescription'] = item['body'].lenght">
                          <a  title=""> | Plus</a>
                    </span>
                    </p> -->
                <p [innerHtml]="item['description']"></p>


                <!--  <ul class="skill-tags">
                    <li><a href="#" title="">HTML</a></li>
                    <li><a href="#" title="">PHP</a></li>
                    <li><a href="#" title="">CSS</a></li>
                    <li><a href="#" title="">Javascript</a></li>
                    <li><a href="#" title="">Wordpress</a></li> 
                </ul>-->

            </div>
            <div class="job-status-bar">
                <ul class="like-com">
                    <li>
                        <a (click)="likeArticle(item.articleId)" [ngClass]="{'liked': item['likedByMe']}" class='digi-style'> <i class="lni-heart-filled "></i> Like</a>

                    </li>

                    <li>

                        <img src="assets/images/liked-img.png" alt="" *ngIf="item['countLikes']>0">
                        <span *ngIf="item['countLikes']>0">{{item['countLikes']}}</span>
                    </li>
                    <li><a (click)="item['commentsShowd']=true" class="com"><i class="lni-comment-alt"></i> Commentaires</a></li>
                </ul>
                <!-- <a><i class="la la-eye"></i>{{item['countVues']}} Vues</a> -->
            </div>

        </div>
        <app-article-comments [article]="item.articleId" [hidden]="item['commentsShowd']==false"></app-article-comments>

    </div>





    <div class="posty mb-5" *ngIf="isLoading">
        <div class="post-bar  no-margin">
            <app-post-loader></app-post-loader>
        </div>
    </div>

</div>