<div class="posts-section ">
    <div class="posty   mb-3">
        <div class="post-bar  no-margin">
            <div class="post_topbar" style="display: block;">


            </div>
            <div class="epi-sec">
                <ul class="descp">

                </ul>
                <ul class="bk-links">

                </ul>
            </div>
            <div class="job_descp">
                <h3> <i class="la la-question-circle size-xs"></i> {{sondage['title']}}</h3>
                <span class="timing"> <i class="la la-calendar"></i> {{sondage['datePublication'] }} -
                    {{ sondage['datePublication'] | timeAgo }}</span>


                <div class="row mb-4 ">
                    <p [innerHtml]="sondage.description"></p>
                </div>





                <div class="col-md-12 mb-2 ml-2 no-pd pd-left-none no-pd">



                </div>



            </div>

        </div>

    </div>
</div>

<app-sondage-detail-questions *ngFor="let item of sondage['questions']" [question]="item">
</app-sondage-detail-questions>

<div class="post-topbar">
    <div class="user-picy">

    </div>
    <div class="post-st">
        <ul>

            <li>
                <a [routerLink]="['/mon-espace/articles/nouveau']" class="post_project" title="">
                    <i class="la la-check-circle"></i>Envoyer vos repones</a>
            </li>

            <li>
                <a [routerLink]="['/mon-espace/enquetes']" class="post_project" title="">
                    <i class="la la-ban"></i>Annuler</a>
            </li>

        </ul>



    </div>


    <!--post-st end-->
</div>