<div class="comment-section">
    <a class="plus-ic" *ngIf="comments.length > 3">
        <i class="la la-plus"></i>
    </a>
    <div class="comment-sec">
        <ul>
            <li>
                <div class="comment-list" *ngFor="let item of comments">
                    <div class="bg-img">
                        <img src="{{ item['utilisateur']['profilePicture'] }}" alt="">
                    </div>
                    <div class="comment">

                        <div class="usy-name">

                            <h3>{{ item['utilisateur']['nom']}} {{ item['utilisateur']['prenom']}}</h3>
                            <span>
                                <i class="la la-calendar"></i>{{ item['dateCommentaire'] | timeAgo}}</span>
                            <p>{{ item['description']}}</p>

                        </div>

                    </div>
                </div>

            </li>

        </ul>
    </div>
    <!--comment-sec end-->
    <div class="post-comment">
        <div class="cm_img">
            <img src="images/resources/bg-img4.png" alt="">
        </div>
        <div class="comment_box">
            <form [formGroup]="form">
                <input type="text" formControlName="comment" name="comment" placeholder="Ajouter un commantaire ...">
                <button (click)="postComment()" type="submit">Commenter</button>
            </form>
        </div>
    </div>
    <!--post-comment end-->
</div>