<div class="sign-in-page ">
    <div class="signin-popup">
        <div class="signin-pop">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <div class="mt-6 pd-3">
                            <img class="mt-6 pd-3" src=" https://static.wixstatic.com/media/b2c0a7_5fa4e6c7341640c8b4b95c48f53faa90.png/v1/fill/w_564,h_539,al_c,lg_1,q_85/b2c0a7_5fa4e6c7341640c8b4b95c48f53faa90.webp " alt=" ">

                        </div>
                        <!--cm-logo end-->

                    </div>
                    <!--cmp-info end-->
                </div>
                <div class="col-lg-6 ">
                    <div class="login-sec ">

                        <div class="text ">

                            La créativité est contagieuse, faites la tourner.
                        </div>





                    </div>
                    <!--login-sec end-->
                </div>
            </div>
        </div>
        <!--signin-pop end-->
    </div>
    <!--signin-popup end-->

</div>