 .text {
     color: rgba(35, 35, 35, 0.8);
     font-size: 3em;
     font-family: "Open Sans", sans-serif;
     font-style: normal;
 }
 
 .sign-in-page {
     margin-top: 150px;
     margin-bottom: 50px;
 }
 
 footer {
     position: fixed;
 }